<form class="floating-labels m-t-40">
    <h2> Información de la Empresa</h2>
    <div class="row">
        <div class="col-6">
            <div class="form-group m-b-40">
                <input type="text" class="form-control" id="input1">
                <span class="bar"></span>
                <label for="input1">Empresa Nombre</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group m-b-40">
                <input type="text" class="form-control" id="input1">
                <span class="bar"></span>
                <label for="input1">Titular</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group m-b-40">
                <input type="text" class="form-control" id="input1">
                <span class="bar"></span>
                <label for="input1">Cuit titular</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group m-b-40">
                <input type="text" class="form-control" id="input1">
                <span class="bar"></span>
                <label for="input1">Ingresos Brutos</label>
            </div>
        </div>
    </div>
    <h2>Información de Ubicación</h2>
    <hr>
    <div class="row">
        <div class="col-6">
            <div class="form-group m-b-40">
                <input type="text" class="form-control" id="input1">
                <span class="bar"></span>
                <label for="input1">Calle y Número</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group m-b-40">
                <input type="text" class="form-control" id="input1">
                <span class="bar"></span>
                <label for="input1">Localidad</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group m-b-40">
                <input type="text" class="form-control" id="input1">
                <span class="bar"></span>
                <label for="input1">Código Postal</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group m-b-40">
                <input type="text" class="form-control" id="input1">
                <span class="bar"></span>
                <label for="input1">Provincia</label>
            </div>
        </div>
    </div>

</form>